*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
*.tmp
~*

AssemblyVersion.cs

/.vs/
/packages/
/node_modules/
/FrameworkHelpers/packages/

package-lock.json
coverage.json
